<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>React boilerplate</title>
  </head>
  <body>
    <div id="root"></div>

    handleClick = () => {
      this.setState({
        clicked: !this.state.clicked,
        counter: this.state.count + 1
      });
    }

    render () {
      return (
        <div className={this.state.clicked ? 'clicked' : null } onClick={this.handleClick}>
          hello {this.props.name} {this.state.counter}
        </div>
      )
    }

  </body>
</html>
